*{margin: 0;
padding: 0;
box-sizing: border-box;}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;}

/*PAGINA PRINCIPAL*/

.grid-contenedor {
    background-color:#E0A4A8;
    width: 100%;
    display: grid;
    grid-template-columns: (1, 2fr);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-template-rows: 100px 50px 900px 320px;
    grid-template-areas: 
        "header"
        "nav"
        "main"
        "footer";}

.encabezado {
    background-color: white;
    grid-area: header;
    font-size: medium;}

.encabezado div img {
    display: flex;
    align-items: center;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;}

.menu {
    background-color: #FAB7BC;
    grid-area: nav;}

.menu ul li {
    list-style: none;
    text-decoration: none;
    display: inline-block;
    color: white;}

.contenido {
    margin-top: 40px;
    margin-bottom: 40px;}

.estilo-c{
    font-family: sans-serif;
    width: 30%;}

.estilo-c .img-container{
    overflow: hidden;
    height: 250px;
    position: relative;
    border-radius: 15px;}

.estilo-c .img-container img{
    width: 105%;
    position: absolute;
    top: -60%;
    transition: all 0.5s;}

.estilo-c:hover .img-container img{transform: scale(1.2);}
      
.estilo-c .img-container .promo{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 20px;
    background: yellow;
    padding: 15px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;}
      
.estilo-c .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;}

.estilo-c .info-container h3{ margin: 0;}

.estilo-c .info-container h3,
.estilo-c .info-container strong,
.estilo-c .info-container span{
    padding: 5px 15px;
    width: 100%;}

.estilo-c .add-cart{
    margin-top: 2px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;}

.estilo-c .add-cart:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;}

.pie { 
    background-color: #FAB7BC;
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;}

.mapa {align-items: center;}

.instagram img {
    align-items: center;
    max-width: 50px;
    max-height: 50px;}

.facebook img {
    align-items: center;
    max-width: 50px;
    max-height: 50px;}

.informacion {
    text-align: right;
    color: white;
    font-size: 20px;}








@media screen and (max-width:700px) {
    .grid-contenedor {
        grid-template-columns: 1, 1fr;
        grid-template-rows: 75px 40px 850px 270px;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "footer";}

    .encabezado {
        background-color: white;
        grid-area: header;
        font-size: small;}
        
    .encabezado div img {
        max-width: 60px;
        max-height:60px ;
        object-fit: cover;}
        
    .instagram img {
        align-items: center;
        max-width: 25px;
        max-height: 25px;}
        
    .facebook img {
        align-items: center;
        max-width: 25px;
        max-height: 25px;}
        
    .informacion {
        text-align: right;
        color: white;
        font-size: 12px;}

    .card {text-align: left;}

    .info-card {padding: 10px 20px;}


/*GRID DE LA PAGINA CONTACTO*/
    .contacto-info {
        font-size: 12px;
        margin-top: 45px;}
    
    .texto

    .form-register {
        width: 250px;
        padding: 20px;
        margin: auto;
        margin-top: 70px;
        border-radius: 3px;
        box-shadow: 5px 9px 25px #000;}
          
    .form-register h4 {
        font-size: 15px;
        margin-bottom: 12px;}
          
    .controls {
        width: 100%;
        padding: 6px;
        border-radius: 3px;
        margin-bottom: 16px;
        border: 1px solid #b3888b;
        font-size: 10px;}
          
    .form-register p {
        height: 25px;
        text-align: center;
        font-size: 10px;
        line-height: 25px;}
          
    .form-register a {
        color: white;
        text-decoration: none;}
          
    .form-register a:hover {
        color: white;
        text-decoration: underline;}
          
    .form-register .botons {
        width: 100%;
        background: #b3888b;
        border: none;
        padding: 8px;
        color: white;
        margin: 10px 0;
        font-size: 9px;}
    }


@media screen and (max-width:550px) {
    .grid-contenedor {grid-template-columns: 1, 0,5fr;
    grid-template-rows: 50px 15px 500px 300px;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";}
    
    .encabezado {
        background-color: white;
        grid-area: header;
        font-size: smaller;}

    .encabezado div img {
        max-width: 40px;
        max-height:40px ;
        object-fit: cover;}
    
    .instagram img {
        align-items: center;
        max-width: 17px;
        max-height: 17px;}
        
    .facebook img {
        align-items: center;
        max-width: 17px;
        max-height: 17px;}
        
    .informacion {
        text-align: right;
        color: white;
        font-size: 8px;}
    
/*GRID DE LA PAGINA CONTACTO*/
.contacto-info {
    font-size: 8px;
    margin-top: 20px;}
}














/*PAGINA PRODUCTOS*/
.contenido-productos {background-color: #FAB7BC;}




/*PAGINA PREGUNTAS FRECUENTES*/
.contenido-pf {background-color: #FAB7BC;}

.Iam {
    padding: 2em 5em;
    font: normal 40px/50px Montserrat, sans-serif;}

.Iam p {
    height: 10px;
    float: left;
    margin-right: 0.3px;}

.Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 40px;
    top: 5px;}

.Iam .innerIam {
    display: inline-block;
    color: #6b4f4fcc;
    position: relative;
    white-space: nowrap;

  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;}


  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }}
  
  @-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }}

  @-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }}
 
  @-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }}

  @keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }}

.preguntas {
    margin-top: 20px;
    text-align: left;}

.preguntas h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    font-weight: lighter;
    text-align: left;
    color: #6b4f4fcc}

.preguntas p{
    margin-right: 40px;
    margin-left: 40px;
    font-size: 16px;
    margin-top: 10px;
    text-align: left;}


/*PAGINA MAYORISTAS*/
.contenido-m {background-color: #FAB7BC;}

.mayoristasinfo img {
    margin-top: 90px;
    margin-bottom: 50px;
    max-width: 900px;
    max-height: 900px;}





    /*PAGINA CONTACTO*/

.contenido-contacto {
    background-color: #FAB7BC;
    justify-items: space-around;}

.contacto-info {
    font-size: 20px;
    text-align: left;
    margin-top: 60px;
    background-color: #b3888b74 ;}

.texto {
    font-family: "calibri";
    color: rgb(253, 236, 236);
    margin-right: 18px;
    margin-left: 18px;}

.texto2 {
    font-family: "calibri";
    color: #756060;
    margin-right: 32px;
    margin-left: 32px;}

.form-register {
    width: 400px;
    background: #6b4f4f;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 37px #000;}
  
.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;}
  
.controls {
    width: 100%;
    background: #6b4f4f;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #b3888b;
    font-family: "calibri";
    font-size: 18px;
    color: white;}
  
.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;}
  
.form-register a {
    color: white;
    text-decoration: none;}
  
.form-register a:hover {
    color: white;
    text-decoration: underline;}
  
.form-register .botons {
    width: 100%;
    background: #b3888b;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;}


/*PAGINA QUIENES SOMOS*/
.contenido-qs {
    background-color: #FAB7BC;
    margin-top: 40px;
    margin-bottom: 40px;}

.row img {
    max-width:400px ;
    max-height: 400px ;}

.row p {
    margin-top: 60px;
    text-align: center;}

.textoextra {
    text-align: center;
    margin-top: 40px;}

.boton {margin-top: 50px;}

.btn {
    color: white;
    margin: 0 auto;
    width: 200px;
    max-height: 150px;
    background-color: #756060;
    text-align: center;
    padding: 8px;
    margin-bottom: 4px;
    transform: translate(-0%, -0%);
    border-radius: 8px;
    transition-duration: 4s;
    overflow: hidden;}
  
.btn::before{
    content: "Bienvenido a serendipia, sentite como en casa!";
    color: white;
    font-family: "Century Gothic", sans-serif;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;}
  
.btn:hover::before{top: -65px;}  
  
.btn::after {
    font-family: "FontAwesome";
    content: "\f004";
    font-size: 40px;
    color: red;
    position: absolute;
    top: 150%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;}
  
.btn:hover::after {top: 50px;}