@import "../base/variables";
@import "../base/generales";
@import "../base/media-query";

.encabezado {
    background-color: $color-blanco;
    grid-area: header;
    font-size: medium;
    div img {
        display: flex;
        align-items: center;
        max-width: 100px;
        max-height: 100px;
        object-fit: cover;}
    h1 {color: nth ($colores, 7);
        font-size: nth ($font-size, 3);}
    .menu {
        background-color: $rosa-claro;
        grid-area: nav;
        margin-top: none;
        margin-bottom: none;
        ul li {
            list-style: none;
            text-decoration: none;
            display: inline-block;
            color: $color-blanco;
            padding-left: 1rem;}}
}